html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
body{
    background-image: url(https://scnewx-app.oss-cn-shanghai.aliyuncs.com/static/images/bg.png);
    background-repeat: no-repeat;
    /* background-size: 100%; */
    background-attachment: fixed;
    background-position-y: center;
    background-color: #000000;
}

.main{
    background: #eeeeee;
    min-height: 500px;
}
.main .index-page-left{
    padding-left: 35px;
    padding-right: 20px;
}
.feed-item{
    margin: 20px 0px;
}
.feed-item img{
    width: 100%;
}
.index-page-right{
    padding-left: 0px;
    height: 200px;
}
.index-pageright-item{
    background: #ffffff;
    margin-right: 20px;
    margin-top: 20px;
}
.feed-item{
    background: #fff;
}
.feed-item .title{
    padding: 10px 0px;
    padding-left: 10px;

}
.feed-item .title .word{
    padding-left: 10px;
    font-size: 24px;
    font-weight: 500;
    margin-left: 10px;
    border-left: 4px solid #FE8800;
    line-height: 20px;
}
.feed-item .title .line{
    background:#FE8800;
    padding: 2px;
}
.feed-item .desc p{
    font-size: 20px;
    font-weight: 400;
    margin-left: 20px;
    padding: 10px 0px;
}
.page-left{
    padding: 20px 35px;
    padding-right: 20px;
}

.page-right {
    padding:20px 35px;
    padding-left: 0px;

}
.section-head{
    height: 100px;
    width: 100%;
    background: #ffffff;
}

.section-search{
    margin: 10px 0px;
    height: 100px;
    width: 100%;
    background: #ffffff;
}

.topic-list{
    padding: 10px 0px;
    width: 100%;
}

.topic-list .topic-item{
    height: 200px;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    background: #ffffff;
}
.user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
}
.user-info .user-topic{
    margin-left: 10px;
    padding-top: 5px;
}
.user-avatar img{
    width: 100%;
    height: 100%;
}
.user-avatar,.user-topic{
    float: left;
}
/*.topic-content{*/
/*    padding: 20px;*/
/*}*/
.topicpage{
    background: #fff;
    padding: 20px;
}
.list-group-item .list-group{
    margin-left: 60px;
}
.list-group-item{
    border: 0px;
}

